In [21]:
import numpy as np,\
pandas as pd,\
seaborn as sns,\
matplotlib.pyplot as plt,\
sklearn.preprocessing as Scaler

import sklearn
from sklearn import linear_model
from sklearn import preprocessing

from scipy import stats

import warnings
warnings.filterwarnings('ignore')

# %matplotlib inline

pd.set_option('display.float_format', lambda x: '{:.4f}'.format(x))

import sqlalchemy
from sqlalchemy import create_engine

import pickle

engine = create_engine("sqlite:////home/yash/kaggle/house.db", echo=False)

In [22]:
model = pickle.load(open('model.p', 'rb'))

In [23]:
test_data = pd.read_sql_table('testdata', con = engine).drop(columns = ['index'])

In [24]:
prediction = pd.DataFrame()
prediction['SalePrice'] = np.expm1(model.predict(test_data))
prediction.to_sql('prediction', con = engine, if_exists = 'replace')

In [25]:
prediction

       SalePrice
0    170058.7819
1    158199.0524
2    174775.0874
3    166319.7987
4    155995.9023
5    157395.1175
6    174772.8072
7    160035.1475
8    177732.8609
9    167548.0693
10   154814.1613
11   165092.7739
12   160214.8550
13   172094.9282
14   157504.8428
15   162501.1541
16   164977.0882
17   154390.7155
18   165743.3738
19   157780.3742
20   150676.7372
21   155786.1829
22   153906.2315
23   154620.0823
24   158150.6448
25   159138.0224
26   171405.1812
27   166914.9190
28   178757.1704
29   151746.7511
...          ...
1429 204148.2925
1430 187245.2940
1431 188941.1109
1432 180273.2196
1433 201997.1138
1434 172304.6321
1435 149661.6344
1436 159379.9350
1437 166505.6069
1438 157479.6958
1439 168819.6925
1440 170573.0104
1441 174012.2775
1442 150767.0700
1443 163383.7848
1444 166851.3131
1445 184979.5489
1446 170089.2676
1447 163164.6925
1448 171962.8259
1449 172262.9504
1450 162659.5154
1451 165654.1427
1452 162052.2968
1453 166335.7418
1454 176970.1781
1455 169465.2975
1456 170846.6954
1457 162885.0350
1458 164737.1235

[1459 rows x 1 columns]